@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset CSS Ends */


body{
	font-family:"Nanum Gothic",sans-serif;
	width:100%;
	margin:auto;
}
/*
.image{
	display:inline-block;
	text-align:center;
	width:80%;
	margin:10px 10%;
	padding:5px 5px 5px 5px;
}
*/

a{
	color:#ffffff;
	text-decoration:none;
}

.subtitle>a{
	color:#418323;
	text-decoration:underline;
}
.container{
	width:100%;
	background-color:#f7f6f8;
	border-top:2px solid #FFFFFF;
	border-bottom:2px solid #cccccc;
}

header{
	position:relative;
	height:60px;
	min-width:600px;
	border-bottom:2px solid #cccccc;
	background-color:rgba(0,0,0,0.01);
	padding:5px 40px 10px 72px;
}

.header_right{
	float:right;
	margin-right:50px;
}

.header_left{
	float:left;
}

.nav{
	width:100px;
	height:33px;
	font-size:1em;
	margin-right:12px;
	margin-top:13px;
	line-height:33px;
	text-align:center;
	float:right;
	color:#666666;
}

.nav_button{
	/*background-color:#960010;*/
	background-color:#418323;
	color:#FFFFFF;
	border:4px solid #a8c795;
	border-radius:10px;
	height:33px;
	line-height:33px;
	margin-top:13px;
}

#livereContainer{
	width:540px;
	height:300px;
	margin:15px auto;
	overflow-y:scroll;
	overflow-x:hidden;
}

.desc_image{
	width:540px;
	margin:auto;
	padding: 5px 0;
}

	.desc_image>img{
		width:100%;
		height:auto;
		margin:auto;
	}

.headline{
	width:80%;
	margin:0 auto;
	text-align:center;
	font-size:40px;
	letter-spacing:-1px;
	/* text-shadow:0 0 4px rgba(0,0,0,0.8); */
	color:#000000;
	font-weight:bold;
	line-height:40px;
	padding:30px 0;
}

section{
	width:1100px;
	overflow:hidden;
	margin:0 auto;
	padding:20px 10px 20px 10px;
	/* border:2px solid #666666; */
}
	.bgcolor_white{
		background-color:#FFFFFF;
		color:#555555;
	}
	.bgcolor_blue{
	background-color:#4b90e1;
	color:#FFFFFF;
	}

h2{
	font-size:2em;
	font-weight:bold;
	margin-bottom:10px;
	text-align:center;
}


.subtitle{
	padding-top:10px;
	padding-bottom:10px;
	width:80%;
	margin-left:10%;
	margin-bottom:10px;
	text-align:center;
	font-weight:bold;
}
.redbox{
	/* background-color:#938172; */
	/*background-color:#cc9e61;*/
	background-color:#5e5e5e;
	color:#ffffff;
}
.text_desc{
	height:50px;
	line-height:50px;
}

ul.text_list{
	list-style-type:none;
	margin:20px 0 50px 0;
	width:100%;
}
	.visual_list{list-style-type:none;}


.text_list>li{
	width:22%;
	float:left;
	border-radius:20px;
	margin:5px 1%;
	padding:10px 0;
	text-align:center;
}
	.text_desc{border-radius:10px;}
	.text_list>li>img{
		width:98%;
		height:250px;
		border:2px solid #cccccc;
		overflow:hidden;
	}


.visual_list>li{
	float:left;
	margin:5px 2px;
	text-align:center;
	width:110px;
	height:60px;
	background-color:#ffffff;
	border:3px solid #5e5e5e;
}

.more_desc{
	clear:both;
	width:70%;
	margin:5px 15% 5px 15%;
	letter-spacing:-0.5px;
	text-align:justify;
}

footer{
	background-color:#5e5e5e;
	min-height:150px;
}


@media (max-width:1024px){
	section{
		width:768px;
		margin-bottom:30px;
	}

	h2{
	font-size:1.8em;
	font-weight:bold;
	margin-bottom:10px;
	}	

	.subtitle{text-align:justify;}

	.headline{
		width:640px;
		margin:auto;
		text-align:center;
		font-size:25px;
		font-weight:bold;
		line-height:30px;
		margin-bottom:15px;
	}
	ul.text_list, .desc_image{float:none;width:80%;margin:auto;}

	.text_desc{
	height:35px;
	line-height:35px;
	}
	.text_list>li{
		clear:left;
		width:70%;
		float:none;
		/*border:2px solid #cccccc;*/
		border-radius:10px;
		margin:5px 15%;
		padding:10px 0;
		text-align:center;
	}
	.text_desc{border-radius:10px;height:82px;line-height:82px;}
	.text_list>li>img{
		float:left;
		border:2px solid #cccccc;
		width:80px;
		height:80px;
		overflow:hidden;
	}

	.visual_list>li{
		width:150px;
		float:left;
		margin-bottom:5px;
		margin-left:30px;
		text-align:center;
	}
}

@media (max-width:768px){
	section{
		width:600px;
		margin-bottom:20px;
	}

	.desc_image{
	width:400px;
	margin:auto;
	padding: 5px 0;
}
	

	.headline{
		width:540px;
		margin:auto;
		text-align:center;
		font-size:20px;
		font-weight:bold;
		line-height:25px;
		margin-bottom:15px;
	}

	h2{
	font-size:1.6em;
	font-weight:bold;
	margin-bottom:10px;
	}

	.subtitle{
	padding:5px 10px 5px 10px;
	width:80%;
	margin-left:10%;
	margin-bottom:5px;
	text-align:justify;
	}	
	.text_desc{
	height:25px;
	line-height:25px;
	border-radius:0;
	}

	.text_list>li>.text_desc{
	clear:right;
	width:70%;
	height:30px;
	line-height:30px;
	float:none;
	border-radius:2px;
	margin:0 15%;
	padding:11px 0;
	text-align:center;
	}
		.text_list>li>img{
			width:48px;
			height:48px;
			float:left;
		}

	.visual_list>li{
		width:180px;
		background-color:#ffffff;
		float:left;
		margin-left:12px;
		margin-bottom:5px;
		text-align:center;
	}
	ul.text_list, .desc_image{float:none;width:80%;margin:auto;}


}

	

/* iphone5 미디어쿼리---------------------- */

@media screen and (device-aspect-ratio: 40/71), screen and (device-aspect-ratio: 2/3) {
	

	header{
		height:60px;
		width:100%;
		padding:5px 40px 5px 72px;
	}

	.nav{
		width:20%;
		height:33px;
		font-size:2em;
		margin-right:12px;
		margin-top:13px;
		line-height:2.3em;
		text-align:center;
		

	.nav_button{
		background-color:#418323;
		color:#FFFFFF;
		border:4px solid #a8c795;
		border-radius:0;
		height:2.3em;
		line-height:2.3em;
		}

	#livereContainer{
		width:90%;
		height:300px;
		margin:15px auto;
		overflow-y:scroll;
		overflow-x:hidden;
	}

	.desc_image{
		width:90%;
		margin:auto;
	}

		.desc_image>img{
			width:100%;
			height:auto;
			margin:auto;
		}

	.headline{
		width:100%;
		margin:0 auto;
		text-align:center;
		font-size:3em;
		letter-spacing:-1px;
		/* text-shadow:0 0 4px rgba(0,0,0,0.8); */
		font-weight:bold;
		line-height:3em;
		
	}

	section{
		width:100%;
		padding:10px 10px 10px 10px;
		}

	h2{
		font-size:3em;
		margin-bottom:10px;
	}


	.subtitle{
		width:95%;
		margin-left:2%;
		margin-bottom:10px;
		}

	.text_desc{
		height:3em;
		line-height:3em;
	}

	ul.text_list{
		list-style-type:none;
		margin:20px 0 30px 0;
		width:100%;
	}
		.visual_list{list-style-type:none;}


	.text_list>li{
		width:70%;
		border-radius:0;
		margin:5px 1%;
		padding:5px 0;
		text-align:center;
	}
		.text_desc{border-radius:10px;}
		.text_list>li>img{
			width:98%;
			height:250px;
			border:2px solid #cccccc;
			overflow:hidden;
		}


	.visual_list>li{
		width:30%;
		height:auto;
		border:3px solid #5e5e5e;
	}

	.more_desc{
		clear:both;
		width:95%;
		margin:5px 2% 5px 2%;
		letter-spacing:-0.5px;
	}

	footer{
		background-color:#5e5e5e;
		min-height:150px;
	}

}
